# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE & Editor configs
.vscode/
.idea/
*.swp
*.swo

# Logs & temp
*.log
*.db

